@charset "UTF-8";

/* 기본 설정들 */
html {
    font-size: 100%;
}
body{
    font-family: 'HUFS M', 'HUFS L';
    line-height: normal;
    color: #002D56;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/* 푸터 */
footer {
    background: #332323;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.9375rem;
}

/* HEADER
------------------------------- */
/* 네비 배경 */
.page-header-background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: #DADAD3;
    border: 1px solid #002b49;
}
/* 내용물 정렬 */
.page-header {
    display: flex;
    justify-content: space-between;
}
/* 로고 속성 */
.logo {
    width: 280px;
    margin-top: 13px;
}
/* 네비 글자 크기 및 위치 설정 */
.main-nav {
    display: flex;
    font-size: 1.4rem;
    margin-top: 24px;
    list-style: none;
}
/* 네비 글자간격 */
.main-nav li {
    margin-left: 45px;
}
/* 네비 글자색 */
.main-nav a {
    color: #002b49;
}
/* 마우스 올라갔을때 */
.main-nav a:hover {
    color: #00677F;
}

/* convert
------------------------------- */
#convert {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}
section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.spring {
    background-image: url(../image/spring.jpg);
    background-size: cover;
    color: #0FFF0A;
}
.summer {
    background-image: url(../image/summer.jpg);
    background-size: cover;
    color: #F70000
}
.autumn {
    background-image: url(../image/fall.jpg);
    background-size: cover;
    color: #903636
}
.winter {
    background-image: url(../image/winter.jpg);
    background-size: cover;
    color: #00FFFF
}

/* HOME
------------------------------- */
#home {
    background-image: url(../image/gate.jpg);
    min-height: 100vh;
}
#home .page-title {
    text-transform: none;
}
.home-content {
    text-align: center;
    margin-top: 10%;
}


/* gallery 2grid
------------------------------- */
#gallery {
    background-image: url(../image/Gallery.png);
    height: 136px;
}
/* 갤러리 내용물 설정 */
.gallery-content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 50px;
}
/* 갤러리 대문 설정 */
.gallery-content0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
#gallery .page-title {
    text-align: center;
    margin-top: 25px;
    font-size: 4rem;
    text-shadow: -1px 0 #DADAD3, 0 1px #DADAD3, 1px 0 #DADAD3, 0 -1px #DADAD3;
}
/* 갤러리 80% */
article {
    width: 80%;
}
/* 사진 자동정렬 */
.grid {
    display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-bottom: 50px;
}
/* 사진 크기 통일 */
.box img{
    height:200px;
    width:270px;
    object-fit: cover;
}
/* 사이드 메뉴 16%*/
aside {
    width: 16%;
}
.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #00677F solid;
    font-weight: normal;
}
.sub-menu {
    margin-bottom: 60px;
    list-style: none;
}
.sub-menu li {
    border-bottom: 1px #ddd solid;
}
.sub-menu a {
    color: #432;
    padding: 10px;
    display: block;
}
.sub-menu a:hover {
    color: #00677F;
}

/* contact
------------------------------- */
#contect {
    background: #002D56;
    color: #fff;
    min-height: 100vh;
}
.login {
    width: 400px;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;
}
.login > h2{
    font-size: 24px;
    color: #fff;
    margin-top: 200px;
    margin-bottom: 20px;
}
#login-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #FFF;
}
#login-form > input::placeholder{
    color: #D2D2D2;
}
#login-form > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #6A24FE;
    margin-top: 20px;
}